


.grid{
    height: 100vh;
    display: grid;

    row-gap: 15px;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "header header header header "
    "box2  box3 box3  box4"
    " content  content content aside"
    " box7 box8 box9  box10"
    ;
   grid-gap:10px;
}
.header{
    grid-area: header;
    border: 2px solid #333;
    background-color: green;
    
   
  
}
.box2{
    grid-area: box2;
    border: 2px solid #333;
    background-color:aliceblue;
    
   
}
.box3{
    grid-area: box3;
    border: 2px solid #333;
    background-color:yellow;
    
   
}
.box4{
    grid-area: box4;
    border: 2px solid #333;
    background-color:red;
    
   
}
.content{
    grid-area: content;
    border: 2px solid #333;
    background-color: orange;
    
   
}
.aside{
    grid-area: aside;
    border: 2px solid #333;
    background-color: blueviolet;
    
   
}
.box7{
    grid-area: box7;
    border: 2px solid #333;
    background-color: burlywood;
    
   
}
.box8{
    grid-area: box8;
    border: 2px solid #333;
    background-color: silver;
    
   
}
.box9{
    grid-area: box9;
    border: 2px solid #333;
    background-color: rosybrown;
    
   
}
.box10{
    grid-area: box10;
    border: 2px solid #333;
    background-color:khaki;
    
}
@media only screen and (MIN-width: 1200px) {
   .grid{
    grid-template-areas:
    "header header header header "
    "box2  box3 box3  box4"
    " content  content content aside"
    " box7 box8 box9  box10"
   }
}

 @media only screen and (max-width: 960px) {
    .grid{
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: 1fr 1fr  1fr 1fr 1fr;
        grid-template-areas: "header header header header header header"
        "box2 box2 box3 box3 box4 box4 "

        "content content content aside aside aside"
      
        "box7 box7 box7 box8 box8 box8"
        
        "box9 box9 box9 box10 box10 box10"
        
    }
    
  
} 
 @media only screen and (max-width: 768px ) {
    .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr  0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-areas: "header"
        "box2"
        "box3"
        "box4"
        "content"
        "aside"
        "box7"
        "box8"
        "box9"
        "box10";
    }
    
  
}